.join{
    display: flex;
    flex-direction: column;
}

.join-img-a{
    display: flex;
    
}

.group-img{
    margin-left: 6px;
    width: 792px;
    height: 639px;
}

.group-img img{
    position: relative;
    display: flex;
    margin-right: 996px;
}

.joins-img{
    background-color: rgba(253, 120, 35, 1);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 37px;
    right: 165px;
    width: 1000px;
    height: 100px;
    margin-left: 180px;
}



.join-img-join img{
    position: relative;
    width: 911;
    height: 110;
    right: 130px;
}


.orange-block-a{
    position: absolute;
    width: 705px;
    height: 537px;
    background-color: rgba(253, 120, 35, 1);
    top: 222px;
    left: 0;
}


.join_us-img{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 413px;
}

.join-img-text-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:84px;
    margin-left: 423px;
}

.join-img-text-a h2{
    color: rgba(253, 120, 35, 1);
}

.join-img-b{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.join-img-text-b{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 314px; 
    margin-left: 150px;   
}

.hands-img img{
    position: relative;
    margin-top: 100px;
    margin-left: 240px;
    width: 894px;
    height: 569px;
}

.orange-block-b{
    position: absolute;
    width: 705px;
    height: 537px;
    background-color: rgba(253, 120, 35, 1);
    margin-top: 80px;
    margin-right: 10px;
    right: 0;
    
}

.join-img-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.join-img-people img{
    width: 905px;
    height: 550px;
}

.join-text-d{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;
}

.join-text-d h4{
    color:rgba(253, 120, 35, 1);
}

.join-img-i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.join-img-item img{
    width: 905px;
    height: 550px;
}

.join-text-i{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 123px;
    margin-right: 100px;
}

.join-text-i h4{
    color:rgba(253, 120, 35, 1);
}

.text-btn-a{
    color: rgba(253, 120, 35, 1);
}

