.mobile-about-us-gallery-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}
.mobile-about-us-gallery-wrapper span:first-child {
    font-size: 4rem;
    font-weight: 600;
}
.mobile-about-us-gallery-div-li-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-top: 2vh;
}
.mobile-about-us-gallery-div-li-wrapper::-webkit-scrollbar {
    display: none;
}
.mobile-about-us-gallery-li-wrapper {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    margin-right: 10vw;
}
