.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image{
    display: flex;
    justify-content: center;

}
.learn{
    display: flex-start;
    width: 100%;
    height: 500px;
}

.txt{
    display: flex;
    flex-direction: column;
    position: relative;
}
.text-about{
    position: relative;
    top:20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
}
.text-title h1:last-child{
    color:rgba(253, 120, 35, 1);
    
}

.books img{
    width: 150%;
    height: auto;
}

.lr{
    top:10%;
    position: relative;
    background-color: rgba(253, 120, 35, 1);
}
.lr img{
    width: 200%;
}

.txt li{
    list-style: square;
    list-style-position: outside;
    color:rgba(253, 120, 35, 1);
    text-align: start;
}

li span{
    color:black;
}

.about-study{
    font-size: .85em;
}

.work-academy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    position: relative;
}

.how-academy-works-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 17%;
    width: 40%;
    
}

.dd{ 
    align-self: center;
}

.d-a{
    width: 15px;
    height: 15px;
    background-color: rgba(253, 120, 35, 1);
}

.d-b{
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: rgba(253, 120, 35, 1);
}

.academy{
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.a{
    width: 32%;
    height: 100%;
}

.no-gutters{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.a-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10%;
    
}
.a-img img{
    margin-left: 25%;
}
.a-img .one{
    display: flex;
    justify-content: center;
    background-color: rgba(253, 120, 35, 1);
    color: white;
    width: 7%;
    height: 11%;
    font-size: 25px;
    font-weight: 600;

}
.a-img span{
    font-size: 30px;
    font-weight: 600;
}

.a-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c-img img{
    margin-left: 81px;
    width: 64px;    
    height: 63px;
}

.h img{
    position: absolute;
    width: 70%;
    height: 30%;
    left: 15%;
    top:30%;
    color: rgba(211, 211, 211, 0.19);
}

.hh{
    border-width: 1px;
    height: 150px;
}

.h-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(253, 120, 35, 1);
    border-bottom: 1px solid gray;
    background-color:#F5F5F5;
}

.h-a span{
    margin-left: 30%;
    font-size: 25px;
    font-weight: 600;
}

.h-b{

    background-color: rgba(253, 120, 35, 1);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

}

.h-b span{
    margin-left: 10%;
    font-size: 19px;
    font-weight: 400;
}

.devel{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F5F5F5;
}

.img-a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.img-a img{
   position: relative;
   margin-left: 120%;
   width: 50px;
   height: 50px;
}

.d-a-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.d-a-t{
    margin-top: 5%;
}

.img-b img{
    position: relative;
    margin-left: 120%;
    width: 50px;
    height: 50px;
}

.d-b-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.img-c{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.img-c img{
    position: relative;
    margin-left: 120%;
    width: 50px;
    height: 50px;
}

.d-c-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.success{
    display: flex;
    flex-direction: column;
}

.s-h{
    margin-top: 8%;
}

.s-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
   
}

.s-info img{
    width: 40%;
    height: auto;
    box-shadow: 0 0, -2em 2em .2em rgba(243, 243, 243, 1);
}

.s-info .card{
    width: 50%;
    height: 3%;
    opacity: 70%;
}

.s-info .btn{
    margin-left: 70%;
}

.s-info .block-fullname{
    position: relative;
    bottom: 70%;
     
}

.s-info .card h3:hover{
    transition: all 0.5s ease;
    height: 100%;
    background-color: rgba(253, 120, 35, 1);
    color: white;
    border-radius: 5px;
}

